@font-face {
  font-family: "Grotesque";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Grotesque Black";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
  font-weight: bold;
}
@font-face {
  font-family: "title";
  src: url(Sofia\ Pro\ SemiBold.ttf);
}
* {
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
}

body::-webkit-scrollbar { 
  display: none;  
}

body {
  padding: 0;
  margin: 0;
  background: #152536;

}

.flex_title{
  font-family: title,sans-serif;
  font-size: 4rem;
  color:rgb(255, 255, 255);
  text-shadow: 4px 1px 10px #000e23ea;
  text-align: center;
  margin-bottom: 6vh;
}
.card_flex{
  max-width:2000vw;
  /* max-width:2000px; */
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;

}

a[href] {
  position: relative;
}
a[href], a[href]:link, a[href]:visited, a[href]:active {
  text-decoration: none;
  color: #d8276c;
  text-shadow: 2px 2px 2px #070c11;
  padding-bottom: 3px;
  font-weight: bold;
}
a[href]::after {
  content: "";
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 0;
  height: 1px;
  transition: 0.35s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
a[href]:hover::after {
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.note {
  margin-top: 30px;
  color: #fff;
  font-size: 1rem;
  font-family: "Merriweather", sans-serif;
  line-height: 1.5;
  text-align: center;
}

 article.card {
  margin-bottom: 4vw;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
  width: 280px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
article.card:hover{
  box-shadow: 1px 1px 10px 5px rgba(177, 177, 177, 0.803);
  transition:all 0.5s;
}

article.card .thumb {
  width: auto;
  height: 260px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png") no-repeat center;
  
  border-radius: 3px;
}
article.card .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: rgb(255, 255, 255);
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 1px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #2b2b2b8e;
}
article.card .infos .flag {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 35px;
  height: 23px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/flag.pngss") no-repeat top right;
  background-size: 100% auto;
  display: inline-block;
}
article.card .infos .date, article.card .infos .seats {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;
}

article.card .infos .seats {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos .txt {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card .infos i{
  cursor: pointer;
}
article.card .infos .details {
 position: absolute;
  left: 20px;
 bottom:20px;
  font-size: 2.5rem;
  
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.card:hover .infos {
  transform: translateY(-260px);
  background:rgba(255, 255, 255, 0.736);
  
  
}
article.card:hover .infos .seats, article.card:hover .infos .txt, article.card:hover .infos .details {
  opacity: 1;
}

@media only screen and (max-width:1200px){
  
  .flex_title{
    margin-top: 7vw;
    font-size:12vw;
  }
  article.card{
   width:66vw;
   height:70vw;
  }
   article.card .infos .title {
     font-size:3rem;
   }
 
  article.card .thumb{
   height:50vw;
   
  } 
  article.card .infos{
   width:70vw;
   height:70vw;
  }
  article.card:hover .infos {
   transform: translateY(-50vw);
 }
   article.card .infos .date{
     font-size:2.2rem;
     margin-top:20px;
   }
 i{
 font-size: 6rem !important;
 margin-left: 9vw !important;
 margin-bottom:1rem;
 }
 }